*{box-sizing: border-box;}


body{
    margin:0;
}


ul, ol{
    padding:0;
}


li{
    list-style-type: none;
}


a{
    text-decoration: none;color: #000;
}

/* INDEX */
body{
    background-color:steelblue
}

/* cabecera */
header{
    display: flex;
    flex-direction: row;
    margin: 30px 20px;
}
.cajalogo{
    width: 20%;
}
.logo{
    width: 200px;
    align-items: center;
}
form{
    width: 100%;
    height: 50%;
    padding-left: 10px;
}
.barrabusqueda input{
    border-radius: 5px;
    width: 82%;
    height: 40px;
}
.divbutton{
    width: 12%;
    border-radius: 5px;
}
.main-nav{
    display: flex;
    width: 100%;
    align-items: flex-end;
}
.main-nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(155, 155, 155, 0.6);
}
.main-nav ul li


/* IMG INDEX */

.img-container{
    width: 360px;
    padding: 20px;
    height: auto;
    border-radius: 50px;
}


/* CANCIONES INDEX */
.main-canciones{
    display: flex;
    
}
.titulo-canciones{
    display: flex;
    text-align: center;
}
.canciones{
    display: flex;
    flex-direction: column;
    
}

/* ALBUMS INDEX */
.main-albums{
    display: flex;
    
}
.titulo-albums{
    display: flex;
    text-align: center;
}
.albums{
    display: flex;
    flex-direction: column;
    
}


/* ARTISTAS INDEX */
.main-artistas{
    display: flex;
    
}
.titulo-artistas{
    display: flex;
    text-align: center;
}
.artistas{
    display: flex;
    flex-direction: column;
    
}




















/*detail-tracks */
.container-track{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
}
.article-track{
    background-color: seagreen;
    width: 300px;
    margin: 60px;
    height: 460px;
    border-radius: 30px;
}
.article-track div img{
    width: 100%;
    padding: 20px;
    height: auto;
    border-radius: 50px;
}
.track-data{
    text-align: center;
}
.track-data h3{
    font-style: oblique;
}

/*Footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: teal;
}