*{
    box-sizing: border-box;
}

/*Reset*/
body{
    margin:0;
}

ul, ol{
    padding:0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/*GIF*/
.gif{
    display: flex;
    height: 60%;
    width: 100%;
    justify-content: center;
}
.giphy-embed{
    width: 260px;
    border-radius: 100px;
}
/* Estructura principal, Fuentes principal y Fondo Principal */
body{
    background-image: url(../img/background/back-ground.png);
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;   
    font-weight: lighter;
}

/* Cabecera */
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 160px;
    margin-bottom: 50px;
    background-image: linear-gradient(to bottom, #470044, #460047, #43004bf1, #42004eb2, #3f005200);
}
.logo{
    width: 10%;
}
.logo a img{
    width: 100px;
}
#centroheader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
}
#gifHeader{
    width: 10%;
}
nav{
    width: 100%;
    height: 0px;
    font-weight: bold;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
form{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
form input{
    width: 240px;
    height: 20px;
    border-radius: 5px;
    border: solid #F8F1F1; 
    background-color: #F8F1F1;
}
form button{
    border-radius: 5px;
    background-color: #F8F1F1;
}
header a{
    color: #F8F1F1;
}
.alert{
    margin-right: 55px;
    font-size: 10px;
}
.alertIcon{
    display: none;
}
.alert, .alertIcon {
    color: red;
}
#bienvenida{
    text-align: center;
    margin: 0px 44px 0px 0px;
    color: #246eb9ff;
}

/*footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 130px;
    width: 100%;
    justify-content: space-between;
    background-image: linear-gradient(to top, #470044, #460047, #43004b, #42004e86, #3f005200);
}
.contact{
    width: 33.3%;
    text-align: center;
    color: #F8F1F1;
}
.contentcontact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contentcontact ul li{
    margin-bottom: 15px;
}
.contact h4{
    margin-bottom: 5px;
}
.terms{
    width: 33.3%;
    text-align: center;
    margin-top: 50px;
}
.terms ul li i{
    margin-top: 10px;
    color:  #F8F1F1;
}
.owners{
    width: 33.3%;
    text-align: center;
    color: #F8F1F1;
}
footer a{
    color: #F8F1F1;
}
/* IMG INDEX */
.index-img{
    width: 230px;
    height: 230px;
    margin: 20px;
    border-radius: 28px;
}

/* TITULOS INDEX */
.titulos-index{
    font-size: 36px;
    font-family: 'Antonio', sans-serif;
    margin: 0px 20px 0px 20px;
}
/* ELEMENTOS */
.titulo-elementos{
    font-size: 20px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.texto-elementos{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
/* CANCIONES INDEX */
.main-canciones{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 97%;
    margin-bottom: 50px;
    margin-left: 23px;
    justify-content: space-around;
}
.canciones{
    display: flex;
    width: 20%;
    justify-content: space-around;
}

/* ALBUMS INDEX */
.main-albums{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 97%;
    margin-bottom: 50px;
    margin-left: 23px;
    justify-content: space-around;
}
.albums{
    display: flex;
    width: 20%;
    justify-content: space-around;
}
/* ARTISTAS INDEX */
.main-artistas{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 97%;
    margin-bottom: 50px;
    margin-left: 23px;
    justify-content: space-around;
}
.artistas{
    display: flex;
    width: 20%;
    justify-content: space-around;
}
.artist-box{
    padding-bottom: 20px;
}


/*Colores Index*/
span .titulos-index, .titulo-elementos, .texto-elementos{
    color: #246eb9ff;
    background-color: rgba(25, 0, 114, 0.81);
    border-radius: 5px;
}
span .titulos-elementos, span .texto-elementos{
    width: 90%;
}
.backgroundindex section article:hover{
    border-radius: 5px;
    background-color: rgba(25, 0, 114, 0.81);
}
/*Detail-tracks */
.body-track{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-track{
    display: flex;
    width: 100%;
    justify-content: center;
}
.article-track{
    display: flex;
    border-radius: 5px;
    width: 50%;
    padding: 10px 0px 10px 0px;
    background-color: rgba(255, 0, 221, 0.842);
}
.track-data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
}
.track-data h4 a{
    color: black;
    font-weight: lighter;
}
.track-data h4{
    font-size: 20px;
}
.album-track:hover, .artista-track:hover{
    text-decoration: underline;
}
.reproductor-track{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    align-items: center;
}
.reproductor-track iframe{
    border-radius: 5px;
    margin-right: 15px;
}
.agregarplaylist{
    background-color: #F8F1F1;
    border-radius: 5px;
}
.agregarplaylist:hover{
    background-color: #246eb9ff;
}

/* detail-album */
.album-image{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.section-album{
    background-color: rgba(255, 0, 221, 0.842);
    width: 75%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.album-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}
.album-songs{
    text-align: center;
    font-weight: bold;
    width: 65%;
}
.section-album article img{
    border-radius: 25px;
}
.album-data h3, h3 a{
    font-weight: lighter;
    color: black;
}
.album-songs ul li a{
    color:black;
    font-weight: lighter;
}

/* DETAIL ARTIST */
.da-main{
    display: flex;
    flex-direction: column;
}
.da-article{
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: rgba(255, 0, 221, 0.842);
    border-radius: 5px;
}
.da-img{
    width: 400px;
    height: 400px;
    border-radius: 95%;
    margin: 20px;
    margin-top: 55.5px;
}
.da-nombre{
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.da-div-texto{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
}
.da-tracks a{
    color: black;
}
.da-tracks-titulo{
    color: black;
    text-decoration: underline;
    font-size: 25px;
    margin-top: 0px;
}


/* GENRES */
.genres{
    display: flex;
    flex-wrap: wrap;
}
article.genres h1{
    width: 100%;
    font-size: 40px;
    text-align: center;
    color: black;
}
article.genres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(255, 0, 221, 0.842);
    margin-left: 3%;
    margin-right: 3%;
}
ul.genres-1{
    font-size: 30px;
    width: 25%;
    text-align: center;
}
ul.genres-2{
    font-size: 30px;
    width: 25%;
    text-align: center;
}
ul.genres-3{
    font-size: 30px;
    width: 25%;
    text-align: center;
}
ul.genres-4{
    font-size: 30px;
    width: 25%;
    text-align: center;
}
.genres article ul li a{
    color: black;
    text-decoration:unset
}

/*Detail-genders*/
section.detail-genres{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 0, 221, 0.842);
    margin-left: 150px;
    width: 80%;
    align-items: center;
    border-radius: 5px;
}
.detail-genres ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.detail-genres ul li{
    margin: 20px;
    width: 15%;
}
.detail-genres ul li img{
    height: 200px;
    width: 200px;
    border-radius: 5px;
}
.detail-genres ul li a{
    margin-bottom: 10px;
    color: black;
}
.detail-genres ul li a:hover{
    text-decoration: underline;
}

/*PlayList*/
.container-table{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.table{
    background-color: rgba(255, 0, 221, 0.842);
    border-radius: 10px;
    padding: 50px;
    margin-left: 75px;
}
tr, tr td, tr td a{
    text-align: left;
    color: black;
}
th{
    border-bottom: 1px solid rgb(77, 6, 77);
    color: #246eb9ff;
}
.quit, .quitBoton, .clock, .duracion{
    width: 5%;
    text-align: center;
}
.albumPlaylist{
    width: 40%;
}
.playerHoover:hover{
    color: #246eb9ff;
}
.quitBoton :hover{
    color: #246eb9ff;
}

.lyric, .player{
    text-align: center;
}
.lyric{
    width: 10%;
}
.clock{
    width: 5%;
}
.h1playlist{
    margin-left: 30px;
    color: #246eb9ff;
}
.boton-play{
    display: none;
}
.boton-clean{
    text-align: center;
}
td a:hover{
    text-decoration: underline
}
#borrar{
    width: 6%;
    margin-left: 88%;
    background-color: #F8F1F1;
    border-radius: 5px;
}
#borrar:hover{
    background-color: #246eb9ff;
}
#vacia{
    display: none;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 0, 221, 0.842);
    width: 90%;
    border-radius: 10px;
    padding: 50px;
    margin-left: 75px;
}
.playlistReco{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(255, 0, 221, 0.842);
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
}
.playlistReco h4{
    text-align: center;
}
.recomendadas{
    display: flex;
    width: 100%;
    justify-content: center;
}
.recomendadas ul{
    display: flex;
    width: 25%;
    justify-content: center;
    text-align: center;
}
.recomendadas ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
}
.recomendadas ul li:hover{
    background-color: rgba(25, 0, 114, 0.81);
}
.recomendadas ul li a{
    color: black;
}
.recomendadas ul li a img{
    border-radius: 5px;
}

/*Resultados Búsqueda*/
.resultado-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}
.resultado-container h1{
    width: 100%;
    color: #246eb9ff;
}
.article-resultado{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(255, 0, 221, 0.842);
    width: 70%;
    align-content: center;
    border-radius: 5px;
}
.article-resultado h2{
    font-style:oblique;
    font-size: 25px;
    text-align: center;
}
.resultado{
    width: 60%;
    text-align: center;
}
.resultado li{
    border-radius: 5px;
}
.resultado li h3 a:hover{
    text-decoration: underline;
}
.resultado h5 a{
    color: black;
    font-weight: lighter;
}
.article-noresultados{
    display: none;
    flex-wrap: wrap;
    background-color: rgba(255, 0, 221, 0.842);
    width: 100%;
    justify-content: center;
}
.recomendado{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(255, 0, 221, 0.842);
    border-radius: 5px;
    width: 100%;
    margin-top: 10%;
    align-items: center;
}
.recomendado ul{
    display: flex;
    width: 80%;
}
.recomendado ul li{
    display: flex;
    flex-direction: column;
    width: 33.3%;
    text-align: center;
    margin: 0px 40px 0px 40px;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
}
.recomendado ul li:hover{
    background-color: rgba(25, 0, 114, 0.81);
}

.recomendado ul li a{
    color:black;
}
.recomendado ul li a img{
    border-radius: 5px;
}
.recomendado h4{
    width: 100%;
    text-align: center;
}
.busquedaJs {
    background-color: rgba(0, 0, 255, 0.418);
}

@media (max-width: 420px){
    /*Header*/
    header{
        width: 100vw;
        height: 70vh;
    }
    .logo{
        display: flex;
        width: 100vw;
        height: 30vh;
        justify-content: center;
    }
    .logo a{
        height: 30vh;
    }
    .logo a{
        margin-bottom: -110px;
    }
    #centroheader{
        width: 100vw;
        height: 30vh;
    }
    #gifHeader{
        display: flex;
        flex-direction: column;
        width: 30vw;
        margin-left: 145px;
        align-items: center;
    }
    #gifHeader h5{
        text-align: center;
    }
    /*Home*/
    .titulos-index{
        margin-top: 10vh;
    }
    .main-canciones{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10vh;
        margin: 0px;
    }
    .main-albums{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    .main-artistas{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    /*Footer*/
    footer{
        margin: 0px;
    }
    /* detail tracks */
    .article-track{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        padding: 30px;
        justify-content: space-around;
    }
    .track-data{
        width: 100vw;
    }
    .reproductor-track{
        margin-top: 30px;
    }
    .reproductor-track iframe{
        width: 100vh;
        margin: 0px;
    }
    /* detail albums */
    .album-data{
        margin: 0px;
        text-align: center;
    }
    .container-album{
        align-items: center;
    }
    .section-album{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        width: 80vw;
    }
    .album-songs{
        width: 80vw;
    }
    .album-songs ul li a iframe{
        width: 70vw;
    }
    .album-songs img{
        width: 40vw;
    }
    /*detail artists*/
    .da-tracks a iframe{
        width: 75vw;
        margin: 33px;
    }
    .da-article{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 0, 221, 0.72);
    }
    .da-nombre{
        margin-top: 0px;
        text-align: center;
    }
    .da-div-texto{
        margin: 0px;
    }
    .da-img{
        width: 300px;
        height: 300px;
        border-radius: 95%;
        margin: 20px;
    }
    /* main generos */
    article.genres{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .genres ul{
        width: 90vw;
    }
    .genres ul li a{
        text-align: center;
    }
    /* detail generos */
    section.detail-genres{
        width: 100vw;
        margin: 0px;
    }
    .detail-genres ul li a img{
        width: 18vw;
        height: 18vh;
    }
    /* playlists */
    .container-table{
        flex-direction: column;
        align-items: center;
    }
    #vacia{
        margin: 0px;
    }
    .playlistReco{
        margin-top: 50px;
        margin-left: 0px;
    }
    .recomendadas ul li a{
        font-size: 10px;
    }
    .recomendadas ul li a img{
        height: 20vh;
    }
    .table{
        margin: 0px;
        padding: 20px;
    }
    #borrar{
        margin-left: 70%;
        width: 20vw;
    }
    .recomendadas ul li{
        padding: 0px;
    }
    .h1playlist{
        margin: 30px 0px 30px 0px;
    }
    td, tr{
        font-size: 17px;
    }
    /*resultado de búsqueda*/
    .resultado-container h1{
        margin-top: 10vh;
        text-align: center;
    }
    .article-resultado{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .resultado{
        width: 80vw;
    }
    .recomendado{
        display: flex;
        flex-direction: row;
        width: 90vw;
    }
    .recomendado ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
        width: 100vw;
    }
    .recomendado ul li{
        width: 25vw;
        display: flex;
        flex-wrap: wrap;
        margin: 0px;    
    }
    .recomendado ul li a img{
        width: 20vw;
        height: 20vh;
    }
    .article-noresultados{
        text-align: center;
    }
}

