*{
    box-sizing: border-box;
}

/*Reset*/
body{
    margin:0;
}

ul, ol{
    padding:0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/* Colores, Fuentes y Fondos Principales */
body{
    background-image: url(../img/background/wallpaperflare.com_wallpaper.jpg);
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;   
    font-weight: lighter;
}
a{
    color: #F8F1F1;
}
h3{
    font-weight: bold;
}
/* cabecera */
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 160px;
    background-image: linear-gradient(to bottom, #470044, #460047, #43004bf1, #42004eb2, #3f005200);
}
.logo{
    width: 135px;
}
#centroheader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
}
nav{
    width: 80%;
    margin-left: 140px;
    font-weight: bold;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
form{
    width: 30%;
    margin: 20px 0px 0px 470px;
    color: rgb(214, 191, 191);
}
form input{
    width: 240px;
    height: 20px;
    border-radius: 5px;
    border: solid #F8F1F1; 
    background-color: #F8F1F1;
}
form button{
    border-radius: 5px;
    background-color: #F8F1F1;
}

/*footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-image: linear-gradient(to top, #470044, #460047, #43004b, #42004e86, #3f005200);
}
.contact{
    margin-top: 200px;
    width: 33.3%;
    text-align: center;
    color: #F8F1F1;
}
.contentcontact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 40px;
}
.owners{
    margin-top: 200px;
    width: 33.3%;
    text-align: center;
    color: #F8F1F1;
}

/* IMG INDEX */
.index-img{
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 28px;
}

/* TITULOS INDEX */
.titulos-index{
    color: yellow;
    font-size: 36px;
    font-family: 'Antonio', sans-serif;
    background-color: rgb(0, 0, 0);
    margin: 0px 20px 0px 20px;
}
/* ELEMENTOS */
.titulo-elementos{
    font-size: 20px;
    text-align: center;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: yellow;
    background-color: rgb(0, 0, 0);
}
.texto-elementos{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: yellow;
    background-color: rgb(0, 0, 0);
}
/* CANCIONES INDEX */
.main-canciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 0, 221, 0.5);
}
.canciones{
    display: flex;
    flex-direction: column;
    
}

/* ALBUMS INDEX */
.main-albums{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 0, 221, 0.5);
}
.albums{
    display: flex;
    flex-direction: column;
    
}


/* ARTISTAS INDEX */
.main-artistas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 0, 221, 0.5);
    padding-bottom: 20px;
}
.artistas{
    display: flex;
    flex-direction: column;
    
}



/*detail-tracks */
.container-track{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
}
.article-track{
    background-image: linear-gradient(to bottom, #490303, #700d14, #9b1a1f, #c8272b, #f63636);    width: 300px;
    margin: 60px;
    height: 680px;
    border-radius: 15px;
}
.article-track div img{
    width: 100%;
    padding: 20px;
    height: auto;
    border-radius: 25px;
}
.track-data{
    text-align: center;
}
video{
    width: 100%;
    height: auto;
    margin: 0px 0px 20px 0px;
    padding: 0px 10px 0px 10px;
}
.agregarplaylist{
    background-color: antiquewhite;
    border:double;
    padding: 10px;
}

/* detail-album */
.container-album{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
}
.section-album{
    background-color: rgba(255, 0, 221, 0.5);
    width: 90%;
    margin: 60px;
    border-radius: 15px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-album article img{
    width: 400px;
    padding: 20px;
    height: auto;
    border-radius: 25px;
}
.album-data{
    text-align: center;
    justify-content: flex-end;
}
.album-songs{
    text-align: center;
    font-weight: bold;
}
iframe{
    margin-bottom: 15px;
}
.agregarplaylist{
    background-color: antiquewhite;
    border:double;
    padding: 10px;
}



/* DETAIL ARTIST */

.da-main{
    display: flex;
    flex-direction: column;
}
.da-article{
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: rgba(255, 0, 221, 0.5);
}
.da-img{
    width: 400px;
    height: 400px;
    border-radius: 95%;
    margin: 20px;
}
.da-nombre{
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
}
.da-div-texto{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}
.da-tracks{
    font-family: 'Dela Gothic One', cursive;
}

/* GENRES */

article.genres{
    background-color: rgba(255, 0, 221, 0.5);
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
    display: flex;
    flex-direction: row;
}
article.genres h2{
    font-size: 40px;
}
ul.genres{
    font-size: 30px;
    margin: 3%;
}
ul.genres li{
    list-style-type: disc;
}