*{
    box-sizing: border-box;
}

/*Reset*/
body{
    margin:0;
}

ul, ol{
    padding:0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/*GIF*/
.gif{
    display: flex;
    height: 60%;
    width: 100%;
    justify-content: center;

}

/* Estructura principal, Fuentes principal y Fondo Principal */
body{
    background-image: url(../img/background/back-ground.png);
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;   
    font-weight: lighter;
}

/* cabecera */
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 160px;
    margin-bottom: 50px;
    background-image: linear-gradient(to bottom, #470044, #460047, #43004bf1, #42004eb2, #3f005200);
}
.logo{
    width: 10%;
}
.logo a img{
    width: 100px;
}
#centroheader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
}
nav{
    width: 100%;
    height: 0px;
    font-weight: bold;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
form{
    width: 100%;
    text-align: center;
}
form input{
    width: 240px;
    height: 20px;
    border-radius: 5px;
    border: solid #F8F1F1; 
    background-color: #F8F1F1;
}
form button{
    border-radius: 5px;
    background-color: #F8F1F1;
}
header a{
    color: #F8F1F1;
}
/*footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 120px;
    width: 100%;
    justify-content: space-between;
    background-image: linear-gradient(to top, #470044, #460047, #43004b, #42004e86, #3f005200);
}
.contact{
    width: 33.3%;
    text-align: center;
    color: #F8F1F1;
}
.contentcontact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contentcontact ul li{
    margin-bottom: 15px;
}
.contact h4{
    margin-bottom: 5px;
}
.terms{
    width: 33.3%;
    text-align: center;
    margin-top: 50px;
}
.terms ul li i{
    margin-top: 10px;
    color:  #F8F1F1;
}
.owners{
    width: 33.3%;
    text-align: center;
    color: #F8F1F1;
}
footer a{
    color: #F8F1F1;
}


/* IMG INDEX */
.index-img{
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 28px;
}

/* TITULOS INDEX */
.titulos-index{
    font-size: 36px;
    font-family: 'Antonio', sans-serif;
    margin: 0px 20px 0px 20px;
}
/* ELEMENTOS */
.titulo-elementos{
    font-size: 20px;
    text-align: center;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.texto-elementos{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
/* CANCIONES INDEX */
.main-canciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}
.canciones{
    display: flex;
    flex-direction: column;
    
}

/* ALBUMS INDEX */
.main-albums{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}
.albums{
    display: flex;
    flex-direction: column;
    
}
/* ARTISTAS INDEX */
.main-artistas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;

}
.artistas{
    display: flex;
    flex-direction: column;
    
}

/*Colores Index*/
span .titulos-index, .titulo-elementos, .texto-elementos{
    color: #246eb9ff;
    background-color: rgba(25, 0, 114, 0.81);
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

/*Detail-tracks */
.body-track{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-track{
    display: flex;
    width: 100%;
    justify-content: center;
}
.article-track{
    display: flex;
    border-radius: 5px;
    width: 50%;
    padding: 10px 0px 10px 0px;
    background-color: rgba(255, 0, 221, 0.842);
}
.track-data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
}
.track-data h4 a{
    color: black;
    font-weight: lighter;
}
.track-data h4{
    font-size: 20px;
}
.reproductor-track{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    align-items: center;
}
.reproductor-track iframe{
    border-radius: 5px;
    margin-right: 15px;
}

/* detail-album */
.container-album{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
}
.section-album{
    background-color: rgba(255, 0, 221, 0.842);
    width: 90%;
    margin: 60px 60px 0px 60px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.section-album article img{
    width: 400px;
    padding: 20px;
    height: auto;
    border-radius: 25px;
}
.album-data{
    text-align: start;
    margin-left: 40px;
}
.album-data h3, h3 a{
    font-weight: lighter;
    color: black;
}
.album-songs{
    text-align: center;
    font-weight: bold;
    margin-left: 170px;
}
.album-songs ul li a{
    color:black;
    font-weight: lighter;
}


/* DETAIL ARTIST */

.da-main{
    display: flex;
    flex-direction: column;
}
.da-article{
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: rgba(255, 0, 221, 0.842);
    
}
.da-img{
    width: 400px;
    height: 400px;
    border-radius: 95%;
    margin: 20px;
    margin-top: 55.5px;
}
.da-nombre{
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.da-div-texto{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
}
.da-tracks a{
    color: black;
}
.da-tracks-titulo{
    color: black;
    text-decoration: underline;
    font-size: 25px;
    margin-top: 0px;
}


/* GENRES */
container.genres{
    display: flex;
    flex-wrap: wrap;
}
article.genres h1{
    width: 100%;
    font-size: 40px;
    text-align: center;
    color: black;
}
article.genres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(255, 0, 221, 0.842);
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
}
ul.genres-1{
    font-size: 30px;
    width: 25%;
    text-align: center;
}
ul.genres-2{
    font-size: 30px;
    width: 25%;
    text-align: center;
}
ul.genres-3{
    font-size: 30px;
    width: 25%;
    text-align: center;
}
ul.genres-4{
    font-size: 30px;
    width: 25%;
    text-align: center;
}
.genres article ul li a{
    color: black;
    text-decoration:unset
}

/*Detail-genders*/
section.detail-genres{
    background-color: rgba(255, 0, 221, 0.842);
    margin-left: 3%;
    margin-right: 3%;
}
article.detail-genres{
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
    display: flex;
    flex-direction: row;
}
.detail-genres h1{
    font-size: 40px;
    color: black;
    margin-left: 20px;
}
ul.detailGenres{
    font-size: 50px;
    margin: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
ul.detailGenres li{
    list-style-type: square;
    color: #246eb9ff;
}
.detailGenres img{
    width: 250px;
    height: 250px;
}

/*PlayList*/
.container-table{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.table{
    background-color: rgba(255, 0, 221, 0.842);
    border-radius: 10px;
    padding: 50px;
    margin-right: 30px;
    padding-bottom: 30px;
}
tr{
    text-align: left;
}
th{
    border-bottom: 1px solid rgb(77, 6, 77);
}
.numT{
    width: 5%;
    text-align: center;
}
.play{
    text-align: center;
}
.play a i:hover{
    color: black;
}
.clock, .duracion{
    text-align: center;
}
.h1playlist{
    margin-left: 30px;
    color: #246eb9ff;
}
th{
    color: #246eb9ff;
}
.boton-play{
    display: none;
}
.boton-clean{
    text-align: center;
}
/*tbody{
    background-color: rgba(145, 185, 36, 0.507);
}*/

/*Resultados Búsqueda*/
.resultado-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}
.resultado-container h1{
    width: 100%;
    color: #246eb9ff;
}
.article-resultado{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(255, 0, 221, 0.842);
    width: 70%;
    align-content: center;
}
.article-resultado h2{
    font-style:oblique;
    font-size: 25px;
    text-align: center;
}
.resultado{
    width: 60%;
    text-align: center;
}
.resultado h5 a{
    color: black;
    font-weight: lighter;
}
.article-noresultados{
    display: none;
    flex-wrap: wrap;
    background-color: rgba(255, 0, 221, 0.842);
    width: 100%;
    justify-content: center;
}
/*.article-noresultado h4{
    width: 100%;
}*/
.recomendado{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgba(255, 0, 221, 0.842);
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}
.recomendado ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.recomendado ul li{
    text-align: center;
    width: 33.3%;
}
.recomendado ul li a{
    color:black;
}
.recomendado h4{
    width: 100%;
    text-align: center;
}
.img-reco{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.img-reco img{
    width: 100px;
    border-radius: 5px;
    margin-bottom: 20px;
}


@media (max-width: 420px){
    /*Header*/
    header{
        width: 100vw;
        height: 50vh;
    }
    .logo{
        display: flex;
        width: 100vw;
        height: 20vh;
        justify-content: center;
    }
    .logo a{
        height: 20vh;
    }
    .logo a{
        margin-bottom: -110px;
    }
    #centroheader{
        width: 100vw;
        height: 30vh;
    }

    /*Home*/
    .titulos-index{
        margin-top: 10vh;
    }
    .main-canciones{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10vh;
    }
    .main-albums{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-artistas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*Footer*/
    footer{
        padding-top: 30vh;
        width: 100vw;
    }
    /* detail tracks */
    .article-track{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .track-data{
        width: 100vw;
    }
    .video{
        width: 100vw;
    }
    .video video{
        margin-top: 20px;
        width: 230px;
    }
    /* detail albums */
    .container-album{
        align-items: center;
    }
    .section-album{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        width: 80vw;
    }
    .section-album article img{
        width: 300px;
        height: 300px;
    }
    .album-songs{
        margin-left: 0px;
    }

    /*detail artists*/
    .da-article{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 0, 221, 0.72);
    }
    .da-nombre{
        margin-top: 0px;
        text-align: center;
    }
    .da-div-texto{
        margin: 0px;
    }
    .da-img{
        width: 300px;
        height: 300px;
        border-radius: 95%;
        margin: 20px;
    }
    /* main generos */
    article.genres{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ul.genres{
        font-size: 23px;
        width: 50%;
        text-align: center;
    }
    /* detail generos */
    section.detail-genres{
        background-color: rgba(255, 0, 221, 0.72);
    }
    .detail-genres h1{
        margin: 0px;
        font-size: 35px;
        text-align: center;
    }
    ul.detail-genres{
        font-size: 30px;
        margin: 5%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    /* playlists */
    .container-table{
        flex-direction: column;
        align-items: center;
    }
    .table{
        margin-right: 0px;
    }
    /*resultado de búsqueda*/
    .resultado-container h1{
        margin-top: 15vh;
    }
    .article-noresultados{
        text-align: center;
    }
    .recomendado{
        text-align: center;
        font-size: 9px;
    }
}

.busquedaJs {
    background-color: rgba(0, 0, 255, 0.418);
}
