*{box-sizing: border-box;}


body{
    margin:0;
}


ul, ol{
    padding:0;
}


li{
    list-style-type: none;
}


a{
    text-decoration: none;color: #000;
}

/* INDEX */
body{
    background-color:steelblue
}
img{
    width: 120px;
    height: 130px
}
/* cabecera */
.logo{
    width: 200px;
    margin: 20px;
    align-items: center;
}

.main-header{
    display: flex;
    flex-direction: column;
}

.main-nav{
    width: 100%;
}
.main-nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(155, 155, 155, 0.6);
}
.main-nav ul li{
    text-align: center;
}
form{
    text-align: center;
    width: 100%;
}
form input{
    border-radius: 50px;
}


/*Footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: teal;
}

/* CANCIONES INDEX */
.main-canciones{
    display: flex;
    
}
.titulo-canciones{
    display: flex;
    text-align: center;
}
.canciones{
    display: flex;
    flex-direction: column;
    
}

/* ALBUMS INDEX */
.main-albums{
    display: flex;
}
.titulo-albums{
    display: flex;
}
.albums{
    display: flex;
}


/* ARTISTAS INDEX */


/* detail-tracks */
.container-track{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
}
.article-track{
    background-color: seagreen;
    width: 300px;
    margin: 60px;
    height: 460px;
    border-radius: 50px;
}
div img{
    width: 100%;
    padding: 20px;
    height: auto;
    border-radius: 50px;
}
.track-data{
    text-align: center;
}
.track-data h3{
    font-style: oblique;
}

